.page-detail {
  display:  flex;
  justify-content: space-around;
  padding: 20px;

}

.back-button {
  margin: 0 10px;
}
.title-back-div {
  display: flex;
  justify-content: space-between;
}
.page-container {
  margin: 0 auto;
  padding: 30px;
  font-family: sans-serif;
}

.title-container {
  display: flex;
  justify-content: space-between;
  input {
    margin-top: 10px;
    padding: 5px 10px;
    background: #ff9e00;
    cursor: pointer;
    border: 1px solid black;
  }
}

.page-title {
  font-size: 22px;
}


.page-img {
  margin: 0 auto;
  width: 400px;
  height: 400px;
}

