.product-container {
  width: 80%;
  margin: 0 auto;
  background: white;
  height: 90%;
  overflow-y: auto;
}
.product-item-detail-container {
  width: 250px; 
  height: 300px;
  background: whitesmoke;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
}

.add-to-cart {
  background: #ff9e00;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.add-to-cart:hover {
  opacity: .8;
}
.item-detail-info {
  display: flex;
  flex-direction: column;
 
  h4 {
    padding: 5px;
    font-size: 14px;
  }
  div {
    padding: 5px;
    font-size: 12px;
    text-align: right;
  }
}

.product-ul {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  margin: 0 auto;
}


.item-image-container {
    width: 210px;
    margin: 0 auto;
    padding-top: 15px;
    height: 195px;
  
  img {
    height: 100%;
    width: 100%;
  }
}

.sort-by {
  width: 60px;
}
.sort-by:hover {
  .sort-by-ul {
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
}

.sort-by-ul {
  display: none;
   position: absolute;
  background: whitesmoke;
  
  li {
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid gray;
  }

  li:last-child {
    border-bottom: none;
  }

  li:hover {
    opacity: .7;
  }
  
}


.sort-bar-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

