.product-item-detail-container {
  width: 20%;
  height: 20%;
  background: lightblue;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
}

.add-to-cart {
  background: lightgreen;
  border-top: 1px solid #eee;
  text-align: center;
}
.item-detail-info {
  display: flex;
  flex-direction: column;
  
}

ul {
  width: 80%;
  display: flex;
  
  flex-wrap: wrap;
}


.item-image-container {
  widht: 100px;
  height: 200px;
  img {
    height: 100%;
  }
}


