.page-detail {
  display:  flex;
  justify-content: space-between;

}

.page-container {
  margin: 0 auto;
  padding: 30px;
}

.title-container {
  display: flex;
  justify-content: space-between;

}


.page-img {
  margin: 0 auto;
  width: 400px;
  height: 400px;
}

