.product-container {
  width: 80%;
  margin: 0 auto;
  background: white;
  height: 100%;
}
.product-item-detail-container {
  width: 250px; 
  height: 300px;
  background: #6697d3;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
}

.add-to-cart {
  background: #ff9e00;
  text-align: center;
  padding: 10px;
}
.item-detail-info {
  display: flex;
  flex-direction: column;
 
  h4 {
    padding: 5px;
    font-size: 14px;
  }
  div {
    padding: 5px;
    font-size: 12px;
    text-align: right;
  }
}

.product-ul {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  margin: 0 auto;
}


.item-image-container {
  widht: 100px;
  height: 200px;
  img {
    height: 100%;
    width: 100%;
  }
}

.sort-by {
  background: whitesmoke;
  width: 60px;
}
.sort-by:hover {
  background: red;
  .sort-by-ul {
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
}

.sort-by-ul {
  display: none;
   position: absolute;
  background: whitesmoke;

  
}




